# Object files
src/object-files/*.o
src/object-files/basal_conditions/*.o
src/object-files/basal_mass_balance/*.o
src/object-files/basic/*.o
src/object-files/climate/*.o
src/object-files/glacial_isostatic_adjustment/*.o
src/object-files/ice/*.o
src/object-files/mesh/*.o
src/object-files/netcdf/*.o
src/object-files/ocean/*.o
src/object-files/surface_mass_balance/*.o

# MacOS files
*.DS_Store
