# Ignore the main executable
UFEMISM_program

# Ignore scripts in main folder
/*.sh
/*.csh

# Ignore the module and object files
*.mod
*.o

# Ignore output files
result*/

# Ignore MacOS files
.DS_Store

# Ignore SLURM output on Snellius
slurm-*.out

# Ignore depend file
.depend

# Ignore Matlab autosave files
*.asv

# ignore data directory
data

# Ignore automated test reports
automated_testing/test_reports/*.html

# Ignore automated test figures
automated_testing/unit_tests/figures/*.png
automated_testing/component_tests/figures/*.png

# Ignore temporary scoreboard files
automated_testing/component_tests/temporary_scoreboard_files/*.xml

# Ignore unnecessary python stuff
*__pycache__
tools/python/klooi.ipynb
