[submodule "external/UPSY"]
	path = external/UPSY
	url = https://github.com/IMAU-paleo/UPSY.git
[submodule "external/LADDIE"]
	path = external/LADDIE
	url = https://github.com/erwinlambert/LADDIE2.0.git
[submodule "external/data"]
	path = external/data
	url = https://github.com/IMAU-paleo/data.git
