# Ignore the executable
UPSY_unit_test_program
UPSY_unit_test_program_dev
UPSY_unit_test_program_perf

UPSY_component_test_program
UPSY_component_test_program_dev
UPSY_component_test_program_perf

UFEMISM_program
UFEMISM_program_dev
UFEMISM_program_perf

LADDIE_program
LADDIE_program_dev
LADDIE_program_perf

# Ignore build files
build/*

# Ignore scripts in main folder
/*.sh
/*.csh

# ...except for the compile scripts
!compile_UFEMISM.csh
!compile_UPSY.csh

# Ignore output files
result*/

# Ignore MacOS files
.DS_Store

# Ignore SLURM output on Snellius
slurm-*.out

# Ignore Matlab autosave files
*.asv

# Ignore automated test reports
automated_testing/test_reports/*.html

# Ignore automated test figures
automated_testing/unit_tests/figures/*.png
automated_testing/component_tests/figures/*.png

# Ignore temporary scoreboard files
automated_testing/component_tests/temporary_scoreboard_files/*.xml

# Ignore unnecessary python stuff
*__pycache__
tools/python/klooi.ipynb

# Ignore input files for Berends2023 nudging experiments
automated_testing/integrated_tests/idealised/Berends2023_nudging/experiment_I/input_data/*.nc
automated_testing/integrated_tests/idealised/Berends2023_nudging/experiment_II/input_data/*.nc
